* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
}

html,
body {
  width: 100%;
  background-color: #000;
  color: white;
}

header {
  margin: auto 6rem;
  margin-bottom: 2rem;
  background-color: #000;
  height: 5rem;
}

nav {
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: all 0.15s ease-out;
}

nav ul li a:hover {
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: underline;
}

.logo img {
  height: 6rem;
  padding: 1rem;
  transition: all 0.2s ease-out;
}

.logo img:hover {
  padding: 0.6rem;
}

nav ul {
  list-style: none;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  border: 4px solid white;
  outline: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#sect-1 {
  padding: 2rem 6rem;
  max-height: 70vh;
}
.left {
  width: 50%;
  padding: 2rem;
}

.left h1 {
  font-size: 5rem;
  text-shadow: 3px 3px 2px blue;
}

.left p {
    text-shadow: 2px 2px 2px green;
  font-size: 2rem;
  width: 75%;
}

.btn-primary {
    border-radius: 2rem;
    background: linear-gradient(rgb(138, 236, 138), rgb(204, 204, 115));
}

.btn-primary a {
    color: black;
    background: linear-gradient(rgb(138, 236, 138), rgb(204, 204, 115));
}

#sect-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.sect-1-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.sect-1-btns button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
}

.sect-1-btns a {
    text-decoration: none;
    transition: all 0.15s ease-out;
}
.sect-1-btns button:hover {
    font-size: 1.6rem;    
}

.btn-secondary {
    border: 2px solid white;
    border-radius: 2rem;
    background-color: black;
}

.btn-secondary a{
    color: white;
}

.right img {
    height: 600px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


@media (max-width: 1390px) {

    .sect-1 {
        padding: 1rem;
    }
    .left h1 {
        font-size: 3rem;
    }
    .left p {
        font-size: 1rem;
    }
    .right img {
        height: 400px;
    }
    .sect-1-btns button {
        padding: 0.5rem 1.5rem;
    }
    .sect-1-btns button {
        font-size: 1rem;
    }
     .sect-1-btns button:hover {
        font-size: 1.1rem;
    }
}
@media (max-width: 1000px) {
    .sect-1 {
        padding: 1rem;
    }
    .left h1 {
        font-size: 1.5rem;
    }
    .left p {
        font-size: 0.5rem;
    }
    .right img {
        height: 250px;
    }
    .sect-1-btns button {
        font-size: 0.6rem;
    }
    .sect-1-btns button:hover {
        font-size: 0.7rem;
    }
}